body {
	background-image: url("https://res.cloudinary.com/dd70b6zra/image/upload/v1591722473/photo-1517504734587-2890819debab_d27fbe.jpg");
	background-size: cover;
	font-family: 'Montserrat', sans-serif;
}

#contact:hover {
	color: red;
}

.fa {
	padding: 20px;
	font-size: 30px;
	width: 30px;
	text-align: center;
	text-decoration: none;
    border-radius: 50%;  
}

.fa-twitter {
	background: #55ACEE;
	color: white;
}

.fa-instagram {
	background: #a234eb;
	color: white;
}

#header-design {
	background-color: rgba(24, 138, 245, 0.3);
}
