body {
	background-image: url("retina.jpeg");
	font-family: 'Montserrat', sans-serif;
}

#contact:hover {
	color: red;
}

.fa {
	padding: 20px;
	font-size: 30px;
	width: 30px;
	text-align: center;
	text-decoration: none;
    border-radius: 50%;  
}

.fa-twitter {
	background: #55ACEE;
	color: white;
}

.fa-instagram {
	background: #a234eb;
	color: white;
}
